.Container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: calc(38% - 2em);
    padding: 2rem 3em;

    margin: 2rem 0;

    aspect-ratio: 3;
    outline: 2px solid black;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--main);
    box-shadow: #2f2f2f 0 15px 25px 5px;
    cursor: default;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.Title h1 {
    margin: 0;
    padding: 0;
    color: var(--primary-5);
}

.Title span {
    margin: 0 0 0 1em;
    padding: 8px;

    font-size: 1rem;
    color: black;
    background-color: var(--secondary);
    border-radius: 8px;

}

.Title span:hover {
    background-color: var(--accent);
}

.TagsWrapped {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap; /* Evita el wrapping */

    width: 100%; /* Se ajusta al ancho disponible */
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    padding: 1em;
    gap: 1em; /* Espacio entre las etiquetas */
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none;  /* Para IE y Edge */
}

.Tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: fit-content;
    margin: 1em;
}

.Tags::-webkit-scrollbar {
    display: none; /* Oculta el scrollbar en Chrome, Safari y Opera */
}

.Tag {
    flex-shrink: 0; /* Evita que los tags se reduzcan de tamaño */
    margin: 0.5em;
    padding: 0.5em 1em;

    font-weight: 500;
    font-size: 1rem;
    color: black;
    border-radius: 8px;
    background-color: var(--primary-3);
    cursor: default;
}

.Tag:hover {
    background-color: var(--accent);
}

.TagsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.ScrollButton {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--primary);
    padding: 0 0.5em;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    line-height: 1.5;

    width: 100%;
}

.Description {
    text-align: justify;
    font-size: 1.1rem;
}

.Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 1em 0 0 0;
}

.urlButton {
    color: white;
    background-color: black;
}

@media screen and (max-width: 850px) {
    .Container {
        padding: 1.5em;
        width: 80%;
    }
    .Tags {
        margin: 1em 0 0 0;
    }
    .Tag {
        font-size: 0.8rem;
        margin: 0.5em;
        padding: 0.5em;
    }
}
