.Container{
    display: flex;
    flex-direction: column;
    align-items: start;

    width: min(75%, 1000px);
    padding: 2em;

    margin: 1.5em 0;

    outline: 2px solid black;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--main);
    box-shadow: #2f2f2f 0 15px 25px 5px;
}

.Container h1 {
    margin: 0;
    padding: 0;
    color: var(--primary-5);
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.Content p {
    width: 90%;
    text-align: justify;
    font-size: 1.1rem;
}

.Tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: min(90%, 800px);
    margin: 1em 0;
}

.Tag{
    margin: 0.5em 1em;
    padding: 0.5em 1em;


    font-weight: 500;
    font-size: 0.8rem;
    color: black;
    border: 2px solid #000000;
    /*border-radius: 15px;*/
    background-color: #FF6767;
    cursor: default;
}

.urlButton {
    color: white;
    background-color: black;
}

@media screen and (max-width: 500px) {
    .Container {
        padding: 1.5em;
    }
    .Tags {
        margin: 1em 0 0 0;
    }
    .Tag {
        font-size: 0.8rem;
        margin: 0.5em;
        padding: 0.5em;
    }
}
