.Container{
    display: flex;
    flex-direction: column;
    align-items: start;

    width: min(85%, 1250px);
    padding: 3em;

    margin: 1.5em 0;

    outline: 2px solid black;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--main);
    box-shadow: #2f2f2f 0 15px 25px 5px;
    cursor: default;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.Title h1 {
    margin: 0;
    padding: 0;
    color: var(--primary-5);
}

.Title span {
    margin: 0 0 0 1em;
    padding: 8px;

    font-size: 1rem;
    color: black;
    background-color: var(--primary-3);
    border-radius: 8px;

}

.Title span:hover {
    background-color: var(--accent);
}

.Tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: fit-content;
    margin: 1em;
}

.Tag{
    margin: 0.5em 1em;
    padding: 0.5em 1em;


    font-weight: 500;
    font-size: 1rem;
    color: black;
    border-radius: 8px;
    background-color: var(--primary-3);
    cursor: default;
}

.Tag:hover {
    background-color: var(--accent);
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.Description {
    text-align: justify;
    font-size: 1.1rem;
}

.Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 1em 0 0 0;
}

.urlButton {
    color: white;
    background-color: black;
}

@media screen and (max-width: 500px) {
    .Container {
        padding: 1.5em;
    }
    .Tags {
        margin: 1em 0 0 0;
    }
    .Tag {
        font-size: 0.8rem;
        margin: 0.5em;
        padding: 0.5em;
    }
}
