* {
    /*outline: 1px red dashed;*/
}
#root {
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Name {
    font-size: 8em;
    font-weight: 500;

    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

}

h1 {
    margin: 2em 0 0.5em 0;
}

.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Education {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 80%;
    margin: 0;
    padding: 0;
}

.Certificates {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 80%;
    margin: 0;
    padding: 0;
}

.Experience {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 80%;
    margin: 0;
    padding: 0;
}
