* {
    /*outline: 1px red dashed;*/
}
#root {
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Name {
    font-size: 8em;
    font-weight: 500;

    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

}

.Proyects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
